<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>CSS.la</title>
  <meta name="description" content="CSS.la is Los Angeles' premier group for CSS and front-end enthusiasts.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/Inter.var.ttf" />
  
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">  
  <meta name="theme-color" content="#fafafa">
  
</head>
<body>
  <header role="banner">
    <h1>CSS.la</h1>
  </header>


